.member_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__button {
        margin-top: 10px;
        span {
            cursor: pointer;
            font-weight: bold;
        }
    }
    /* align-items: center; */
}